.foot{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    background-color: rgb(31, 29, 29);

    h1{
        margin-bottom: 1px;
    }
    p{
        margin-bottom: 1px;
        &:last-child {
            margin-bottom: 20px; /* Remove margin only from the last paragraph */
          }
    }
}